*{
    margin: 0;
    padding: 0;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.button-cancel{
    background-color: red;
    justify-content: center;
    align-items: center;
}

.button-confirm{
    background-color: blue;
    justify-content: center;
    align-items: center;
}