* {
  padding: 0;
  margin: 0;
}

h1 {
  font-style: italic;
}
.header-container {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}
.header {
  width: 100%;
  height: 7dvh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 25px 25px;
  color: white;
  background-color: black;
  padding-top: 1dvh;
  padding-bottom: 1.5dvh;
}

.header img {
  width: 15%;
  height: 10dvh;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header-container {
    align-content: center;
  }
  .header {
    width: 40vw;
    align-self: center;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
